<table class="table text-center">
    <thead>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Compra</th>
    </thead>
    <tbody>
        @for (product of products; track product.name) {
        <tr>
            <!-- <td><img [src]="product.image" [alt]="product.name" /></td> -->
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price | currency}}</td>

            @if (product.stock) {
            <td>{{product.stock}}</td>
            } @else {
            <td><span class="no-stock">Sin stock</span></td>
            }

            <td>
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock"
                    (maxReached)="maxReached($event)">
                </app-input-integer>
                <button (click)="addToCart(product)">
                    <i>Comprar</i>
                </button>
            </td>

        </tr>
        } @empty {
        <tr>
            <td>Espera que le mando un wsp a Bic</td>
        </tr>
        }
    </tbody>
</table>